@page "/history"
@using CommonHelpers.Collections
@using System.Text.RegularExpressions
@using Telerik.DataSource

<h3>History</h3>

<TelerikGrid @ref="Grid" TItem="MqttDataItem" Height="600px" OnRead="OnRead"
             Groupable="false"
             Pageable="true"
             Sortable="true"
             SortMode="@SortMode.Single"
             FilterMode="@GridFilterMode.FilterRow"
             FilterRowDebounceDelay="250"
             PageSize="25">
    <GridToolBarTemplate>
        <label>Report Range:</label>
        <TelerikDateRangePicker StartValue="@StartDate" EndValue="@EndDate"
                                StartValueChanged="@((DateTime sV) => StartValueChangedHandler(sV))"
                                EndValueChanged="@((DateTime eV) => EndValueChangedHandler(eV))">
        </TelerikDateRangePicker>
    </GridToolBarTemplate>
    <GridColumns>
        <GridColumn Field="@nameof(MqttDataItem.Timestamp)" Width="250px" DisplayFormat="{0:MM/dd/yy}" Filterable="false">

        </GridColumn>
        <GridColumn Field="@nameof(MqttDataItem.Topic)" >
            <Template>
                @{
                    var mqttItem = context as MqttDataItem;
                    var topic = MessageUtilities.GetTopicName(mqttItem?.Topic ?? "");
                    @Regex.Replace(topic.ToString().Replace("_", ""), "(\\B[A-Z])", " $1")
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(MqttDataItem.Topic)" />
        <GridColumn Field="@nameof(MqttDataItem.Value)" />
    </GridColumns>
</TelerikGrid>