@page "/"

@using System.Text
@using System.Collections.ObjectModel
@using BlazorSolarPowerHour.Components.DashboardComponents
@using BlazorSolarPowerHour.Models

<PageTitle>Home</PageTitle>

<h1>Solar Dashboard</h1>

<TelerikToolBar>
    @*  <ToolBarToggleButton OnClick="ToggleTimer" Selected="IsTimerRunning">
    @if (IsTimerRunning)
    {
    <text>On</text>
    } else
    {
    <text>Off</text>
    }
    </ToolBarToggleButton> *@
</TelerikToolBar>

<TelerikTileLayout @ref="TileLayoutInstance"
                   Columns="4"
                   Reorderable="true"
                   Resizable="true"
                   OnResize="ItemResize"
                   OnReorder="OnReorder">
    <TileLayoutItems>

        <TileLayoutItem HeaderText="Battery Percentage">
            <Content>
                <TelerikArcGauge @ref="BatteryLevelPercentageGauge">
                    <ArcGaugeCenterLabel>
                        <Template>
                            @(context.Pointers[0].Value)% Battery
                        </Template>
                    </ArcGaugeCenterLabel>
                    <ArcGaugeScales>
                        <ArcGaugeScale Min="0" Max="100" />
                    </ArcGaugeScales>
                    <ArcGaugePointers>
                        <ArcGaugePointer Value="@batterChargeLevelPercent" />
                    </ArcGaugePointers>
                </TelerikArcGauge>
            </Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Load Power">
            <Content>
                <CompactCard Value="@loadPower" Symbol="💡" Unit="W" />
            </Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Battery Power">
            <Content>
                @* Can be +/-*@
                <CompactCard Value="@batteryPower" Symbol="🔋" Unit="W" />
            </Content>
        </TileLayoutItem>

        <TileLayoutItem HeaderText="Battery Power">
            <Content>
                <TelerikLinearGauge @ref="BatteryPowerGauge" Transitions="false">
                    <LinearGaugePointers>
                        <LinearGaugePointer Value="@batteryPowerValue" />
                    </LinearGaugePointers>
                    <LinearGaugeScales>
                        <LinearGaugeScale Vertical="false" Min="0" Max="1000" MajorUnit="500" MinorUnit="20">
                            <LinearGaugeScaleRanges>
                                <LinearGaugeScaleRange To="1000"
                                                       From="750"
                                                       Color="var(--kendo-color-error-emphasis)">
                                </LinearGaugeScaleRange>
                                <LinearGaugeScaleRange To="750"
                                                       From="500"
                                                       Color="var(--kendo-color-warning)">
                                </LinearGaugeScaleRange>
                            </LinearGaugeScaleRanges>
                        </LinearGaugeScale>
                    </LinearGaugeScales>
                </TelerikLinearGauge>
            </Content>
        </TileLayoutItem>

        <TileLayoutItem HeaderText="Battery Level">
            <Content>
                <TelerikLinearGauge Transitions="false" @ref="BatteryLevelGauge">
                    <LinearGaugeScales>
                        <LinearGaugeScale Min="-1000" Max="1000" Vertical="false">
                            <LinearGaugeScaleRanges>
                                <LinearGaugeScaleRange From="0"
                                                       To="1000"
                                                       Color="#00FF62">
                                </LinearGaugeScaleRange>
                                <LinearGaugeScaleRange From="-250"
                                                       To="0"
                                                       Color="#FFE162">
                                </LinearGaugeScaleRange>

                                <LinearGaugeScaleRange From="-700"
                                                       To="-250"
                                                       Color="#FF8400">
                                </LinearGaugeScaleRange>

                                <LinearGaugeScaleRange From="-1000"
                                                       To="-700"
                                                       Color="#C20000">
                                </LinearGaugeScaleRange>
                            </LinearGaugeScaleRanges>
                        </LinearGaugeScale>
                    </LinearGaugeScales>
                    <LinearGaugePointers>
                        <LinearGaugePointer Value="@batteryPowerValue" Shape="LinearGaugePointerShape.Arrow" Margin="10" Color="var(--kendo-color-on-app-surface)"></LinearGaugePointer>
                    </LinearGaugePointers>
                </TelerikLinearGauge>
            </Content>
        </TileLayoutItem>

        <TileLayoutItem HeaderText="PV Power">
            <Content>
                <CompactCard Value="@pvPower" Symbol="☀️" Unit="W" />
            </Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Grid Power">
            <Content>
                @* Can be +/-*@
                <CompactCard Value="@gridPower" Symbol="🏭" Unit="W" />
            </Content>
        </TileLayoutItem>

       @*  <TileLayoutItem Class="chart-tile" RowSpan="2" ColSpan="5">
            <HeaderTemplate>
                <div>
                    <span style="font-size:16px;font-weight:400">
                        Total Generation |  Inverter Mode: @((MarkupString)inverterMode) | Charging Source Priority: @((MarkupString)chargerSourcePriority)
                    </span>
                </div>
            </HeaderTemplate>
            <Content>
                <TelerikChart @ref="@SystemPowerChartRef" Width="100%" Transitions="false" RenderAs="RenderingMode.Canvas">
                    <ChartTooltip Visible="true" />
                    <ChartLegend Position="ChartLegendPosition.Bottom" />
                    <ChartSeriesItems>
                        <ChartSeries Name="Solar"
                                     Data="@SolarPowerData"
                                     Field="@nameof(ChartMqttDataItem.CurrentValue)"
                                     CategoryField="@nameof(ChartMqttDataItem.Timestamp)"
                                     Type="ChartSeriesType.Line"
                                     Axis="PowerAxis" />
                        <ChartSeries Name="Load"
                                     Data="@LoadPowerData"
                                     Field="@nameof(ChartMqttDataItem.CurrentValue)"
                                     CategoryField="@nameof(ChartMqttDataItem.Timestamp)"
                                     Type="ChartSeriesType.Line"
                                     Axis="PowerAxis" />
                        <ChartSeries Name="Battery"
                                     Data="@BatteryPowerData"
                                     Field="@nameof(ChartMqttDataItem.CurrentValue)"
                                     CategoryField="@nameof(ChartMqttDataItem.Timestamp)"
                                     Type="ChartSeriesType.Line"
                                     Axis="PowerAxis" />
                        <ChartSeries Name="Grid"
                                     Data="@GridPowerData"
                                     Field="@nameof(ChartMqttDataItem.CurrentValue)"
                                     CategoryField="@nameof(ChartMqttDataItem.Timestamp)"
                                     Type="ChartSeriesType.Line"
                                     Axis="PowerAxis" />
                    </ChartSeriesItems>

                    <ChartCategoryAxes>
                        <ChartCategoryAxis BaseUnit="ChartCategoryAxisBaseUnit.Minutes" Type="ChartCategoryAxisType.Date">
                            <ChartCategoryAxisLabels Format="{0:mm ssss}" />
                        </ChartCategoryAxis>
                    </ChartCategoryAxes>

                    <ChartValueAxes>
                        <ChartValueAxis Name="PowerAxis">
                            <ChartValueAxisTitle Text="Power" />
                            <ChartValueAxisLabels Format="{0:N0} W" />
                            <ChartValueAxisMajorGridLines Visible="false" />
                        </ChartValueAxis>
                    </ChartValueAxes>
                </TelerikChart>
            </Content>
        </TileLayoutItem> *@
    </TileLayoutItems>
</TelerikTileLayout>








