@inherits LayoutComponentBase
<TelerikRootComponent>
    <TelerikAppBar ThemeColor="@(ThemeConstants.AppBar.ThemeColor.Tertiary)">
        <AppBarSection>
            <TelerikButton FillMode="flat" Icon="@SvgIcon.Menu" OnClick="@(()=> DrawerRef.ToggleAsync())"></TelerikButton>
        </AppBarSection>

        <AppBarSpacer Size="4px" />

        <AppBarSection>
            <h1 class="title">My Telerik UI for Blazor Account</h1>
        </AppBarSection>
    </TelerikAppBar>

    <TelerikDrawer Data="@Data" Mode="@DrawerMode.Push" MiniMode="true"
                   @ref="@DrawerRef">
        <DrawerContent>
            <div class="k-m-4">
                @Body
            </div>
        </DrawerContent>
    </TelerikDrawer>
</TelerikRootComponent>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    TelerikDrawer<DrawerItem> DrawerRef { get; set; } = default!; // set by Blazor on init

    IEnumerable<DrawerItem> Data { get; set; } =
        new List<DrawerItem>
                            {
            new DrawerItem { Text = "Home", Icon = SvgIcon.Home, Url = "/" },
            // new DrawerItem { Text = "Counter", Icon = SvgIcon.Plus, Url = "/counter" },
            // new DrawerItem { Text = "Weather", Icon = SvgIcon.GridLayout, Url = "/weather" },
                            };

    public class DrawerItem
    {
        public string Text { get; set; } = string.Empty;
        public string Url { get; set; } = string.Empty;
        public ISvgIcon? Icon { get; set; }
    }
}